<p id="notice"><%= notice %></p>
<%= render :partial => 'layouts/app'  %>
<h1>live in germany</h1>

<br>

<%= link_to 'New Post', new_post_path, :class=>"new" %>
<div class="container">


<%= render partial: @posts %>
</div>
