/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  background-color: #cc66ff
}
.title {
color: #00ff00;
font-family: "Courier New", Courier, monospace;
}
.show{
  color: #e4ed8e;
}
.title:hover{
  color:#7b200d;
}
.show:hover{
  color:#ddf30b;
}
.new{
  color:#5df010;
}
.my color{
  color:#e4ed8e;
}
.app{
  background-color: #green;
}
