body{background-image:url("/assets/bakri.jpeg");
 background-repeat: no-repeat;
background-attachment: fixed;}
#about me{background-color: #3333ff;}
#like{background-color: #00cc00;}
.col-lg-6{background-color: #663300,}
.bakri{height:100px;}
