<head>
    <title>hi</title>
  </head>
<div class="container">
 <ol>
      <li><%=link_to 'about me',:about_me%></li>
      <li><%=link_to 'study_and_work',:study_and_work%></li>
      <li><%=link_to 'my_fevorite_hobbies',:my_fevorite_hobbies%></li>
      <li><%=link_to 'call_me',:call_me%></li>
   </ol>
</div>
 
 </div>
